.product-images {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 400px;
    min-height: 400px;
}

.product-images > img {
    width: 400px;
    border: 1px solid #ddd;
    background-color: rgb(41 26 26);
    border-radius: 5px;
}

.product-detail > * {
    color: white;
}